
body{
  padding: 0;
  margin:0;
  width: 100vw;
  height: 100vh;
  background:#efefef;
}
.calculator
{
 background: #fff;
 max-width: 300px;
 max-height: 420px;
 height: 80%;
 width: 50%;
 min-height: fit-content;
 position: absolute;
 top: 50%;
 left:50%;
 transform: translate(-50%,-50%);
 overflow: hidden;
 border-radius: .5rem;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px,rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.inputField{
  width: calc(100% - 2rem);
  height: calc(20% - 1rem);
  padding: 1rem;
  padding-bottom: 0;
  background-color: #fdfdfd;
}

.inputField #ans{
  display: block;
  text-align: right;
  height: calc();
  width: calc(100% );
  margin-bottom: 4px;
}
.inputField input{
  width: calc(100% - .8rem);
  height: calc(60% - .2rem - 2px);
  outline: none;
  padding: 0.2rem 0.4rem;
  font-size: 1.5rem;
  line-height: 150%;
  border:1px solid #11111155;
  border-radius: 4px;

  text-align: right;
}
.buttons{
  width: calc(100% - 2rem);
  height: calc(80% - 2rem);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(5,1fr);
  grid-gap: 1rem;
  background-color: #f8f8f8;
  border-radius: 1rem 1rem 0 0 ;
  padding: 1rem;
}   
.buttons button{
  border: none;
  outline: none;
  border-radius: .5rem;
  font-size:1.3rem;
  font-weight: 400;
}
.buttons .action{
  font-size:1.13rem;
  color: #b8bb00;  font-weight: 500;
}
.buttons .operator{
  color: #00bb96;  font-weight: 500;
}
.buttons button:last-child{
 font-size: 1.5rem; 
 color: #008cac;
}
  /* @vishalbhangare_2022 */